<div class="column gap-small">
    <div class="profile-row">
        <div class="profile-input">
            <!-- this is unpleasant; would prefer to use ::file-selector-button but it cuts off anything outside the box model (e.g. outlines, filter drop shadows) -->
            <label for="fileInput" class="label-as-button">Load profile</label>
            <InputFile hidden id="fileInput" accept=".icc,.icm" OnChange="SetProfile"/>
        </div>
        
        <label class="profile-label light-text">@State.Config.Icc.Name</label>
    </div>

    @foreach (var slider in sliders)
    {
        <div class="slider-wrapper">
            <input class="slider-gradient @(slider.InRange ? "show-thumb" : "hide-thumb")"
                   style="background-image: linear-gradient(to right, @slider.CssGradient), linear-gradient(to right, @slider.CssAlphaGradient), var(--dark-stripes)"
                   type="range" min="@slider.Min" max="@slider.Max" step="@slider.Step" value="@slider.Value" 
                   @oninput="args => SetSliderValue(slider, args)"
                   title="Slider @(slider.LabelText)">
            <label class="slider-value light-text">@slider.ValueText</label>
            <label class="slider-label-right light-text">@slider.LabelText</label>
        </div>
    }
</div>
