<div class="nav-bar monospace">
    <div class="nav-item">
        <label class="nav-label @(State.Mode == Mode.Print ? "colour-text" : "text-on-dark")">PRINT</label>
        <button class="nav-button @(State.Mode == Mode.Print ? "colour-background" : "")" @onclick="@(() => State.Mode = Mode.Print)">
            <span class=@(State.Mode == Mode.Print ? "text-on-colour" : "text-on-dark")>🖨️</span>
        </button>
        <label class="nav-label @(State.Mode == Mode.Print ? "colour-text" : "text-on-dark")">CMYK</label>
    </div>

    <div class="nav-item">
        <label class="nav-label @(State.Mode == Mode.Light ? "colour-text" : "text-on-dark")">LIGHT</label>
        <button class="nav-button @(State.Mode == Mode.Light ? "colour-background" : "")" @onclick="@(() => State.Mode = Mode.Light)">
            <span class=@(State.Mode == Mode.Light ? "text-on-colour" : "text-on-dark")>🌈</span>
        </button>
        <label class="nav-label @(State.Mode == Mode.Light ? "colour-text" : "text-on-dark")">RGB+</label>
    </div>

    <div class="nav-item">
        <label class="nav-label @(State.Mode == Mode.Paint ? "colour-text" : "text-on-dark")">PAINT</label>
        <button class="nav-button @(State.Mode == Mode.Paint ? "colour-background" : "")" @onclick="@(() => State.Mode = Mode.Paint)">
            <span class=@(State.Mode == Mode.Paint ? "text-on-colour" : "text-on-dark")>🎨</span>
        </button>
        <label class="nav-label @(State.Mode == Mode.Paint ? "colour-text" : "text-on-dark")">RYB</label>
    </div>
</div>